/** Add css rules here for your application. */

body{
    margin: 0px !important;
}

/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.textInputError{
	border: 2px solid #dd4b39;
}


/*
override default GWT CSS style; use !important to disable original settings
*/
.gwt-TabLayoutPanel{
	background-color: white !important;
	box-shadow: 0px 0px 4px grey;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
    border-bottom-color: white !important;
    border-bottom-style: none !important;
    border-bottom-width: none !important;
    background-color: white !important;
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelContentContainer {
    overflow: hidden;
    padding: 0px 0px 0px 6px !important;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    border-color: white !important;
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
    margin-left: 6px;
    padding: 3px 6px 3px 6px !important;
    color: white !important;
    font-weight: normal !important;
    text-align: center !important;
    border-radius: 4px 4px 0px 0px !important;
    background-color: #8E8E8E !important;
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
    cursor: pointer !important;
    color: #333 !important;
    background-color: white !important;
} 
.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent{
    border-color: white !important;
}

