@CHARSET "US-ASCII";
@external .verticalstripController, .imageOnStripController;
/* Apr 25, 2012
   march 31, 2013: min height = 500
 */
.verticalstripController {
    margin: 0 5px 0 5px !important;
    vertical-align: middle !important;
    min-height: 300px !important;
    background-repeat: no-repeat;
    border-color: white !important;
    cursor: pointer;
    background-color: whitesmoke;
}

.imageOnStripController{
	margin-top: 200px;
}