@CHARSET "US-ASCII";
@external .evolviewlogo;

/* total width = 270 */
.evolviewlogo {
    vertical-align: middle;
    margin: 0px 75px 0px 45px !important;
    width: 150px !important;
    cursor: pointer !important;
}