@CHARSET "US-ASCII";

/* >>>> Oct 25, 2013 : a new version mimicing gmail personal information panel */

@external .tooltipwidgetGmail, .upperInformationPanel, .lowerActionPanel;
.tooltipwidgetGmail {
	border: 1px solid #ccc !important;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0 2px 10px rgba(0,0,0,.2);
	text-shadow: 0 1px 0 rgba(255, 255, 255, .4);
	opacity: .9;
}

.upperInformationPanel{
	min-height: 10px;
	min-width: 20px;
	padding: 10px 10px 10px 10px;
}

.lowerActionPanel{
	background: #f5f5f5;
/* 	background: lightblue; */
	border-top: 1px solid #ccc !important;
	border-color: rgba(0,0,0,.2);
	min-height: 10px;
	min-width: 20px;
	padding: 2px 10px 6px 10px;
}

/* other styles */
@external .tooltipwidgetBlue;
.tooltipwidgetBlue {
	border: 2px solid #69B2D9 !important;
	background-color: lightblue;
	background-repeat: repeat-x;
	background-image: linear-gradient(top, rgb(183, 223, 246),
		rgb(115, 194, 236)) !important;
	background: -moz-linear-gradient(rgb(183, 223, 246), rgb(115, 194, 236));
	/* FF 3.6+ */
	background: -ms-linear-gradient(rgb(183, 223, 246), rgb(115, 194, 236));
	/* IE10 */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(183,
		223, 246)), color-stop(100%, rgb(115, 194, 236)));
	/* Safari 4+, Chrome 2+ */
	background: -webkit-linear-gradient(rgb(183, 223, 246),
		rgb(115, 194, 236)); /* Safari 5.1+, Chrome 10+ */
	background: -o-linear-gradient(rgb(183, 223, 246), rgb(115, 194, 236));
	/* Opera 11.10 */
	padding: 10px;
	opacity: .9;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .4), 0 1px 0 rgba(255, 255, 255, .5)
		inset;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .4);
}

/* the following styles are from google mail widget */
@external .infoPanelPopup, .infoInfoPanel, .infoActionPanel;
.infoPanelPopup {
	-webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
	-webkit-transition: opacity .13s linear;
	transition: opacity .13s linear;
	color: #8e8e8e;
	font-size: 12px;
	position: absolute;
	z-index: 2201;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.infoInfoPanel {
	background-color: #fff;
	border: 1px solid #ccc;
	border-bottom-color: #bbb;
	overflow: hidden;
	padding: 15px;
	position: relative;
	width: 318px;
}

.infoActionPanel {
	background-color: #f9f9f9;
	border: 1px solid #ccc;
	border-bottom-color: #bbb;
	border-top: 0;
	overflow: hidden;
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 348px;
}