@CHARSET "US-ASCII";

@external .footer-bar, .footerVerticalLine, .footerSponsorSeparator;
/*  
============================================================================
==== DEC 2011: footnotes ====
*/
.footer-bar {
    z-index: 2;
    position: fixed;
    bottom: 0px;
    border-top: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    padding: 2px 2px 2px 2px;
    font-size: .85em;
}

.footerVerticalLine{
    padding: 0px 5px 0px 5px;
    color: lightgray;
}

.footerSponsorSeparator{
    padding: 0px 5px 0px 5px;
    font-size: 200%;
}

