@CHARSET "UTF-8";
/* 
    Document   : uibindercss
    Created on : Sep 3, 2012, 9:15:38 AM
    Author     : wchen
    Description:
        Purpose of the stylesheet follows.
        originally for BIIA
        Copied here on Feb 26, 2013; may contain new styles not found in the original CSS file
*/
/*
  style for project name on ProjectHeading
*/
.googleCodeH2 {
    color: #666 !important;
    cursor: auto !important;
    font-size: 220% !important;
    -webkit-margin-before: 0em !important;
    -webkit-margin-after: 0em !important;
}

/*
 google code style for subsection headers; 
*/
/*  new Since Oct 7, 2012  */
.googleCodeH3 { /* 	background-color: #F5F5F5; */
    padding: 6px 8px 5px 10px;
    border-left: 6px solid darkred;
    font-weight: bold;
    color: darkred;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* .googleCodeH3 { */
/* 	background: #E5ECF9 !important; */
/* 	font-weight: bold; */
/* 	border-top: 1px solid #36C !important; */
/* 	padding: 0.5ex 0.5em 0.5ex 1em !important; */
/* } */
/* google code style */
.googleCodeH4 {
    display: block !important;
    -webkit-margin-before: 1.33em !important;
    -webkit-margin-after: 1.33em !important;
    -webkit-margin-start: 0px !important;
    -webkit-margin-end: 0px !important;
    font-weight: bold !important;
    font-size: small !important;
}

.imagelogo {
    cursor: pointer;
    cursor: hand;
}

.important {
    font-weight: bold;
}

.popularTags { /* 	border: solid silver; */
    /* 	border-width: 1px 0 1px 0; */
    padding: 0.3em;
    width: 40em;
    margin: 5px 0 0 0;
}

.logoandsearch {
    margin: 0 0 40px 0;
}

/**
* dark red theme
*/
.htmllink {
    text-decoration: underline;
    color: darkred !important;
    cursor: pointer;
    font-weight: normal !important;
}

.syspref {
    margin: 0 0 10px 10px;
}

/* login.ui.xml */
.loginpanel {
    margin: 20px 10px 20px 120px;
    padding: 20px;
}

.txtBoxLoginPanel {
    width: 180px;
    height: 20px;
    text-align: left;
    vertical-align: middle;
}

.error {
    color: red;
}

.textnormal {
    font-weight: normal !important;
}

.marginTop10{
/*    border-top: 1px solid lightgrey;*/
    margin-top: 10px;
}

.marginTop30{
/*    border-top: 1px solid lightgrey;*/
    margin-top: 30px;
}

.margintop50 {
    margin-top: 50px !important;
}

.margintop20 {
    margin-top: 20px !important;
}

.margintop3 {
    margin-top: 3px !important;
}

.margintop35 {
    margin-top: 35px !important;
}

.marginRight {
    margin-right: 5px;
}

.marginLeft {
    margin-left: 5px;
}

.marginLeft10 {
    margin-left: 10px !important;
}

.marginLeft20 {
    margin-left: 20px;
}

.margin10 {
    margin: 10px !important;
}

.marginBottom10{
    margin-bottom: 10px;
}

.borderLeft2pxGray {

}

.padding10 {
    padding: 10px !important;
}

.paddingLeft10{
	padding-left: 10px;
}

.paddingLeft20{
	padding-left: 20px;
}

.paddingLeft30{
	padding-left: 30px;
}

.projectHomeInfoPanel {
    border-left: 1px solid #E9E9E9 !important;
}

.projectInfoTable {
    padding: 10px 20px 10px 20px !important;
}

.phead {
    background-color: whitesmoke; /*#E5EDF9*/
    color: darkred;
    font-weight: bold;
    margin: 5px 5px 4px;
    padding: 3px 6px 3px 10px;
    white-space: nowrap;
}

/** 
  === for panels used in UiBinders === 
*/
/* Oct 8, 2012: project header; gray style */
.projectHeadingPanel { /* 	border-top: 1px solid #999; */
    border-bottom: 2px solid whitesmoke !important;
    height: 65px !important;
    min-width: 800px !important;
    width: 100% !important;
}

.projectNameInProjectHeader {
    color: #666;
    cursor: auto;
    font-size: 220%;
}

.projectDescriptionInProjectHeader {
    color: #666;
}

.projectTabLayoutPanel {
    padding: 5px 10px 5px 5px !important;
}

.tipsPanel {
    background-color: lightyellow;
    border-radius: 5px !important;
    border: 1px solid whitesmoke;
    padding: 10px 20px 5px 10px !important;
    vertical-align: middle !important;
    box-shadow: 1px 1px 1px gray;
}

.tipsImg {
    background: transparent url(resources/images/Dialog-information24.png)
        no-repeat;
    padding-left: 30px;
    margin-left: 3px;
    vertical-align: middle !important;
    height: 22px;
}

.tipsPanelWithImg {
    background-color: whitesmoke;
    border-radius: 5px !important;
    padding: 10px 30px 5px 10px !important;
    vertical-align: middle !important;
    background: transparent url(resources/images/Dialog-information24.png)
        no-repeat;
    margin-left: 3px;
}

.tipsFontsize { /* 	font-size: 92%; */
    padding-left: 15px;
}

/**
* for tabs
*/
.gtb {
    background: #E5ECF9;
    border-top: 1px solid #36C;
    white-space: nowrap;
    margin: 2px 5px 2px 5px;
}

.tab {
    color: #00C;
    margin: 5px 0px 0px 10px;
    padding: 5px 9px 5px 9px;
    cursor: pointer;
    text-decoration: underline;
}

.active {
    background: white;
    /*border: 1px solid #6B90DA;*/
    border-bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: black;
    cursor: default;
    text-decoration: none;
}

.CSS3BoxShowdowE {
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888;
}

.CSS3BoxShowdowBottom {
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
}

/* Oct 9, 2012: tab contents */
.tabContents {
    padding: 5px !important;
}

/* Oct 9, 2012: wiki render results */
.wikiRenderHTMLScrollPanel {
    width: 100%;
    max-width: 800px;
    height: 400px;
    border: 2px solid whitesmoke;
}

.wikiRenderHTMLContents {
    margin: 5px;
    padding: 5px;
    border-left: 5px solid whitesmoke;
}


/* Nov 5, 2012: notifications */
.badgeRed{
    border-color: #FA5A35;
    background-color: #FA623F;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FC9F8A), color-stop(100%, #FA623F));
    background-image: -webkit-linear-gradient(top, #FC9F8A, #FA623F);
    background-image: -moz-linear-gradient(top, #FC9F8A, #FA623F);
    background-image: -ms-linear-gradient(top, #FC9F8A, #FA623F);
    background-image: -o-linear-gradient(top, #FC9F8A, #FA623F);
    background-image: linear-gradient(top, #FC9F8A, #FA623F);

    padding: 1px 5px 0px 5px;
    border-radius: 8px;
    color: white;
    text-shadow: 0 1px rgba(0, 0, 0, 0.25);
    border-width: 1px;
    border-style: solid;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 1px rgba(255, 255, 255, 0.3);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 1px rgba(255, 255, 255, 0.3);

    position: relative;
    top: -5px;
    left: -2px;

    font-family: Arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 14px;

    cursor: pointer;
    cursor: hand;
}

/* evolview */
/* total width = 730px
 * march 31, 2013; previously = 700
 */
.headerbar {
    width: 730px !important;
    height: 40px;
    background: whiteSmoke;
    margin: 10px 0px 0 0;
    align: right;
}

.logosmall {
    vertical-align: middle;
    margin: 0px 25px 0px 25px;
    width: 150px;
}

/* total width = 300 */
.logo {
    vertical-align: middle;
    margin: 0px 100px 0px 50px;
    width: 150px;
    cursor: pointer;
}
/* -------- show case panel -------------- */
/* total width = 600px */
.showcasePanel{
    margin: 30px 0px 0px 50px;
    width: 550px;
}

.showcaseevolviewslogan{
    font-size: 140%;
    font-style: italic;
    color: #333;
    margin-top: 5px;
    margin-bottom: 20px;
}


.greytext{
    color: #333;
}

/* total width = 400px */
.signinpanel {
    background-color: whitesmoke;
    width: 350px;
/*    border: 1px solid lightgray;*/
    position: relative;
    margin-left: 50px;
    padding-left: 10px;
    padding-top: 5px;
/*     border-radius: 5px; */
}

.signin {
    margin-top: 5px;
    margin-righ: 21px;
    padding-bottom: 5px;
    border-bottom: 1px solid #CCDAE2;
    color: #333;
    font-size: 14px;
    font-weight: bold;
}


